/* Write your global styles here, in PostCSS syntax */

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    @font-face {
        font-family: 'Monaco';
        font-style: normal;
        font-weight: normal;
        src: local('Monaco'), url('static/fonts/Monaco.woff') format('woff');
    }
}
